<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../css/bootstrap.css">
    <link rel="stylesheet" href="../../css/style.css">
    {% block stylesheets %}
    {% endblock %}

    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
{% if is_granted('ROLE_ADMIN') %}
<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
    <a class="navbar-brand" href="/"><img class="logo" src="../../images/logo.jpg" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-dark font-weight-bold" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark font-weight-bold" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    School
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/school">Index</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/school/new">New</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark font-weight-bold" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ervaring
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/experience">Index</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/experience/new">New</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark font-weight-bold" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Skills
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/skills">Index</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/skills/new">New</a>
                </div>
            </li>
        </ul>
        <a href="/logout" class="btn btn-outline-success my-2 my-sm-0">Uitloggen</a>
    </div>
</nav>
{% else %}
<nav class="navbar navbar-expand-lg navbar-secondary bg-secondary">
    <a class="navbar-brand" href="/"><img class="logo" src="../../images/logo.jpg" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link text-dark font-weight-bold" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark font-weight-bold" href="/school">School</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark font-weight-bold" href="/experience">Ervaring</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark font-weight-bold" href="/skills">Skills</a>
            </li>
        </ul>
        <a href="/login" class="btn btn-outline-success my-2 my-sm-0">Inloggen</a>
    </div>
</nav>
{% endif %}
{% block body %}
{% endblock %}
<footer class="fixed-bottom">

{#CopyRight#}
    <div class="text-center p-3">
        © 2021 - {{ 'now' | date('Y') }} Copyright:
        <a class="text-dark" href="/">Bo-Eamonn de Snoo</a>
    </div>
</footer>
<script src="../../js/jquery.js"></script>
<script src="../../js/bootstrap.js"></script>
<script src="../../js/bootstrap.bundle.js"></script>
{% block javascripts %}
{% endblock %}
</div>
</body>
</html>
